.center {
    margin: auto;
    
  text-align: center;
    
}
h1 {
    text-align: center;
    font-family:calibri;
}
h2 {
    text-align: center;
    font-family:calibri;
}
h4 {
    text-align: center;
    font-family:calibri;
}
td {
  height:350px;width:350px;
  font-family:ansichtkaart DEMO;
  font-size:46px;
 
    
}
table {
    text-align: center;
    
}